
* {
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}

body {
	background: #777;
	width: 960px;
}

header {
	margin-top: 10px;
	padding: 20px;
	background: #ebebeb;
}

nav {
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
	background: #ebebeb;
}

section {
	width: 50%;
    float: left;
    padding-bottom: 500px;
    background-color: #ebebeb;
}

.article {
	margin-top: 20px;
    background-color: #777;
    padding: 10px 0px 10px 0px;
    color: white;
}

.section-aside-container {
	overflow: hidden;
	width: 960px;
}

.article-container {
	margin: 10px;
    padding: 10px;
    background-color: #ebebeb;
}

aside {
	width: 50%;
	float: left;
	padding-bottom: 500px;
    background-color: #ebebeb;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
}

footer {
	clear: both;
	margin-top: 20px;
	background: #ebebeb;
	padding: 20px;
}


